.menu_positioner {
  border: 1px solid green;
  width: 250px;
  height: 100%;
}

#mainmenu {
  position: fixed;
  width: 250px;
  left: 0;
  text-align: right;
  height: 100%;
  padding: 50px 20px 0 0;
  z-index: 1;
}

#mainmenu #site-title {
  font-size: 1.6em;
  font-weight: bold;
  font-family: utmavo;
  word-spacing: -2px;
}

#mainmenu p.slogan {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #666;
}

#mainmenu ul li a {
  font-size: 1.2em;
  font-family: utmavo;
}

#mainmenu a:hover {
  color: #000;
}

#mainmenu ul {
  list-style: none;
}

#mainmenu ul li {
  margin-top: 10px;
}

