@font-face
{
  font-family: utmavo;
  src: url(/css/types/utmavo/utm-avo.woff);
}

@font-face
{
  font-family: 'utmavo-bold';
  src: url(/css/types/utmavo/utm-avobold.woff);
}

@font-face
{
  font-family: 'utmavo-italic';
  src: url(/css/types/utmavo/utm-avoitalic.woff);
}

@font-face
{
  font-family: 'museo100';
  src: url(/css/types/museo/museo100.otf);
}
