/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #fdfdfd;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
}

h2 {
  font-size: 1.4em;
  color: #444;
}

h1, h2, h3, p, a ,li{
  font-family: utmavo, Helvetica, sans-serif;
}

h1 {
  margin-bottom: 1em; 
}
p { 
  margin: 1em 0; 
}

a {
  /* color: #00a; */
  color: #13135f;
  text-decoration: none;
}

a:hover { 
  color: #000; 
}

a:visited { 
  color: #13135f;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.main {
  position: relative;
  text-align: justify;
  margin-left: 250px;
  line-height: 1.5em;
  font-size: 1.1em;
  padding: 50px 30px 0px 30px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post-header {
  display: table;
  width: 100%;
  height: 35px;
  line-height: 35px;
}

  .post-header h2 { 
    font-weight: bold;
    font-size: 1.4em;
  }


  .post .meta {
    color: #444;
    margin: 0;
  }

  .post-header h2 a {
    color: #444;
    text-decoration: none;
  }

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post {
  margin-bottom: 80px;
}

  .post a {
    color: #37b8eb;
    text-decoration: underline;
  }

  .post a:hover {
    color: #000;
  }


.post .separator {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  font-size: 1em;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre {
  margin-bottom: 10px;
}

.post pre code {
  border: none;
  font-size: 90%;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post blockquote {
  font-style: italic;
  color: #888;
  margin: 20px;
  quotes: "\201C""\201D""\2018""\2019";
}

.post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.post blockquote p {
  display: inline;
}

/* main site */

#site-wrap {
  position: relative;
}

.border {
  border: 1px solid green;
}

.clear {
  clear: both;
}

.rounded {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}


/*****************************************************************************/
/*
/* Social Network Icon
/*
/*****************************************************************************/

#social {
  margin-top: 20px;
}

#social a {
  color: #333;
  margin-left: 5px;
}

#social a:visited {
  color: #333;
}

#social a.linkedin:hover, #social a.linkedin:focus {
  color: #4875B4;
}

#social a.twitter:hover, #social a.twitter:focus {
  color: #4099FF;
}

#social a.google:hover, #social a.google:focus {
  color: #D34836;
}

#social a.xing:hover, #social a.xing:focus {
  color: #cfdc00;
}

/*****************************************************************************/
/*
/* HomePage
/*
/*****************************************************************************/

.main-wrapper  {
  padding-top: 7px;
}

.main-wrapper h2 {
  font-size: 1.3em; 
  margin-bottom: 10px;
}

#blogposts {
}


/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

#about {
  margin-right: 10px;
  margin-top: 10px;
  max-width: 750px;
}

#profile-pic {
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
  border-radius: 0px;
  margin: 5px 15px 10px 0px;
}

#about p {
  margin: 0;
  margin-bottom: 10px;
}

/*****************************************************************************/
/*
/* CV
/*
/*****************************************************************************/
.document {
  width: 200px;
  height: 250px;
  border: 1px solid #ddd;
  margin: 20px;
  margin-left: 0;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.document:hover {
  border: 1px solid #aaa;
}

hr.line {
  height: 4px;
  background-color: #eee;
}

.line-1 { width: 20%; }
.line-2 { width: 40%; }
.line-3 { width: 60%; }
.line-4 { width: 80%; }
.line-5 { width: 100%; }

.document a span.clickable {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}


/*****************************************************************************/
/*
/* Reading List
/*
/*****************************************************************************/
#readinglist {
  margin-left: 25px;
  margin-top: 10px;
}

#readinglist span.gray {
  color: #777;
}

.hint {
  margin-top: 20px;
  font-size: 0.7em;
  display: block;
  color: #777;
}


/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/

#contact {
  margin-top: 7px;
  float: left;
  width: 300px;
}

#contact p {
  margin: 0px;
  margin-bottom: 5px;
}

#contact hr {
  width: 70%;
  margin: 15px 0 15px 0;
}

#email {
  color: #37b8eb;
}

.address {
  margin-bottom: 20px;
}

#map {
  border: 1px solid #ccc;
  margin-top: 7px;
  padding: 5px;
  padding-bottom: 0px;
}
