/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #fdfdfd;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
}

h2 {
  font-size: 1.4em;
  color: #444;
}

h1, h2, h3, p, a, li {
  font-family: utmavo, Helvetica, sans-serif;
}

h1 {
  margin-bottom: 1em; 
}
p { 
  margin: 1em 0; 
}

a {
  color: #37b8eb;
  text-decoration: none;
}

a:hover { 
  color: #000; 
}

a:visited { 
  color: #37b8eb;
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.main {
  position: relative;
  text-align: justify;
  margin-left: 250px;
  line-height: 1.5em;
  font-size: 1.1em;
  padding: 50px 30px 0px 30px;
  min-width: 420px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post-header {
  display: table;
  width: 100%;
  height: 35px;
  line-height: 35px;
}

  .post-header h2 { 
    font-weight: bold;
    font-size: 1.4em;
  }


  .post .meta {
    color: #444;
    margin: 0;
  }

  .post-header h2 a {
    color: #444;
    text-decoration: none;
  }

.post {
  margin-bottom: 80px;
}

  .post p {
    font-family: opensans, Helvetica, sans-serif;
  }

  .post a {
    color: #37b8eb;
    text-decoration: underline;
  }

  .post a:hover {
    color: #000;
  }


.post .separator {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post ul, .post ol {
  margin-left: 1.35em;
}

  .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    margin-bottom: 10px;
  }


  .post code {
    font-size: 1em;
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }


.post pre code {
  border: none;
  font-size: 90%;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post blockquote {
  font-style: italic;
  color: #888;
  margin: 20px;
  quotes: "\201C""\201D""\2018""\2019";
}

.post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.post blockquote p {
  display: inline;
}

/* main site */

#site-wrap {
  position: relative;
  padding-bottom: 20px;
}

.border {
  border: 1px solid green;
}

.clear {
  clear: both;
}

.rounded {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}


/*****************************************************************************/
/*
/* Social Network Icon
/*
/*****************************************************************************/

#social {
  margin-top: 20px;
}

#social a {
  color: #444;
  margin-left: 5px;
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

#social a:visited {
  color: #444;
}

#social a.github:hover, #social a.github:focus {
  color: #000;
}

#social a.linkedin:hover, #social a.linkedin:focus {
  color: #4875B4;
}

#social a.twitter:hover, #social a.twitter:focus {
  color: #4099FF;
}

#social a.google:hover, #social a.google:focus {
  color: #D34836;
}

#social a.xing:hover, #social a.xing:focus {
  color: #cfdc00;
}

/*****************************************************************************/
/*
/* Homepage
/*
/*****************************************************************************/

.main-wrapper  {
  padding-top: 7px;
}

.main-wrapper h2.section-title {
  font-size: 1.3em; 
  margin-bottom: 15px;
}

#welcome a {
  text-decoration: underline;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts a {
  color: #13135f;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


#blogposts {
  margin-top: 30px;
}

#badges h2 {
  margin-bottom: 20px;
}

#badges img {
  height: 60px;
  margin-right: 10px;
  margin-bottom: 5px;
}


/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

#about {
  margin-right: 10px;
  margin-top: 10px;
  max-width: 750px;
}

#profile-pic-container {
  width: 260px;
  height: 260px;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px 15px 5px 0px;
  float: left;
}

#profile-pic {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  background: url(/images/profile-gray.jpg);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#profile-pic:hover {
  background: url(/images/profile-color.jpg);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#about p {
  margin: 0;
  margin-bottom: 10px;
}

/*****************************************************************************/
/*
/* CV
/*
/*****************************************************************************/
.documents {
  margin-top: 25px;
}

.document {
  width: 200px;
  height: 250px;
  border: 1px solid #ddd;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.document:hover {
  border: 1px solid #aaa;
}

hr.line {
  height: 4px;
  background-color: #eee;
}

.line-1 { width: 20%; }
.line-2 { width: 40%; }
.line-3 { width: 60%; }
.line-4 { width: 80%; }
.line-5 { width: 100%; }

.document a span.clickable {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}


/*****************************************************************************/
/*
/* Reading List
/*
/*****************************************************************************/
#readinglist ol {
  margin-left: 25px;
}

#readinglist ol li {
  margin-bottom: 5px;
}

#readinglist ol span.gray {
  color: #777;
}

.hint {
  margin-top: 20px;
  font-size: 0.7em;
  display: block;
  color: #777;
}


/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/

#contact {
  width: 300px;
}

#contact p {
  margin: 0px;
  margin-bottom: 5px;
}

#contact hr {
  width: 70%;
  margin: 15px 0 15px 0;
}

#email {
  color: #37b8eb;
}

.address {
  margin-bottom: 20px;
}

#map {
  border: 1px solid #ccc;
  margin-top: 7px;
  padding: 5px;
  padding-bottom: 0px;
}

/*****************************************************************************/
/*
/* Works
/*
/*****************************************************************************/

#works p {
  margin: 0;
  margin-bottom: 20px;
}

#works .project {
  margin-top: 30px;
  margin-bottom: 30px;
}

#works .project-title {
  margin-bottom: 15px;
}

#works .project-desc, #works .project-languages {
  color: #777;
}

#works .urls {
  /* text-align: center; */
}

#works .urls a {
  color: #37b8eb;
  border-bottom: 1px dotted #37b8eb;
}

#works .urls span.url {
  margin-right: 20px;
}

#works .img-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow-x: auto;
  height: 220px;
}

#works .img-container li {
  display: inline-block;
  margin-right: 10px;
  right: 50%;
}

#works .project-img {
  max-height: 200px;
}

#works .project-img:hover {
  border: 1px solid #bbb;
}

#works h3 {
  position: relative;
  text-align: center;
  font-size: 1.3em;
  z-index: 2;
}

.line-through {
  background: #fff;
  padding: 0 10px;
  display: inline-block;
}

#works h3:after{
    content:"";
    position:absolute;
    top:60%;
    left:0;
    right:0;
    border-top: solid 1px #ccc;
    z-index:-1;
}

/*****************************************************************************/
/*
/* 404 Page
/*
/*****************************************************************************/

#page404 p {
  margin-bottom: 5px;
}

#page404 a {
    color: #37b8eb;
    border-bottom: 1px dotted #37b8eb;
}

#img404 {
  margin-top: 20px;
}
