---
layout: default
title: Works
---
<link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<div class="main-wrapper">
  <section id="works">
    <h2 class="section-title">Works</h2>
    <p>Below are the projects that I work on in my free time. Suggestions and questions are welcome, don't hesitate to <a class="highlight" href="/index.html">contact me</a>.</p>

    <section class='project-list'>
      {% for project in site.data.projects %}
      <div class='project'>
        <h3 class="project-title"><span class="line-through">{{project.title}}</span></h3>

        <ul class="img-container">
          {% for img in project.images %}
          <li>
          <a href="/images/projects/{{img}}" class="fancybox" rel="{{ project.title }}">
            <img class="project-img img-thumbnail" src="/images/projects/thumbs/{{img}}" alt="{{project.title}}" />
          </a>
          </li>
          {% endfor %}
        </ul>
        <div class="clear"></div>
        <p class="project-desc">{{project.description}}</p>
        <div class="urls">
          {% if project.project_url != null and project.project_url != "" %} 
            <span class="url"> 
            [ <a target="_blank" href="{{project.project_url}}">Source code</a> ]
            </span>
          {% endif%}

          {% if project.link != null and project.link != "" %} 
            <span class="url"> 
              [ <a target="_blank" href="{{project.link}}">Demo</a> ]
            </span>
          {% endif%}
        </div>

      </div>
      {% endfor %}
    </section>
  </section>
  <div class="clear"></div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".fancybox").fancybox({
      openEffect	: 'none',
      closeEffect	: 'none'
    });
  });
</script>
