---
layout: default
title: Works
---

<div class="main-wrapper">
  <section id="works">
    <h2 class="section-title">Works</h2>
    <p>Below are projects that I work on in my free time. All of them are always in development/maintenance mode. Softwares are meant to be constantly improved. If you have any suggestion or question, don't hesitate to <a class="highlight" href="/contact.html">contact me</a>.</p>

    <section class='project-list'>
      {% for project in site.data.projects %}
      <div class='project'>
        <h3 class="project-title"><span class="line-through">{{project.title}}</span></h3>

        <ul class="img-container">
          {% for img in project.images %}
          <li><img class="project-img img-thumbnail" src="/images/projects/{{img}}" alt="{{project.title}}" /></li>
          {% endfor %}
        </ul>
        <div class="clear"></div>
        <p class="project-desc">{{project.description}}</p>
        <!-- <p class="project-languages"> -->
        <!--   Language: {{ project.languages | join: ', ' }} -->
        <!-- </p> -->
        <div class="urls">
          <span class="url">[ <a target="_blank" href="{{project.project_url}}">Project Page</a> ]</span>
          <span class="url">[ <a target="_blank" href="{{project.link}}">Demo</a> ]</span>
        </div>

      </div>
      {% endfor %}
    </section>
  </section>
  <div class="clear"></div>
</div>
