<div id="mainmenu" class="">
  <a id="site-title" href="index.html">{{ site.name }}</a>
  <p class="slogan">{{ site.slogan }}</p>

  <nav id="nav" role="navigation">
    <div class="block">
      <ul>
        <li><a href="/index.html" class="home">Home</a></li>
        <!-- <li><a href="/blog.html" class="services">Blog</a></li> -->
        <!-- <li><a href="/contact.html" class="contact">Contact</a></li> -->
        <li><a href="/works.html" class="works">Works</a></li>
        <li><a href="/ideas.html" class="ideas">Ideas</a></li>
        <li><a href="/about.html" class="about">About</a></li>
        <li><a href="/cv.html" class="cv">Résumé</a></li>
        <li><a href="/readinglist.html" class="readinglist">Reading List</a></li>
      </ul>
      <a class="close-btn" id="nav-close-btn" href="#top"><i class="icon-remove icon-2x icon-border"></i></a>
    </div>	
  </nav>		

  <div id="social">
    <a href="{{site.linkedin}}" target="_blank" class="linkedin"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="{{site.github}}" target="_blank" class="github"><i class="fa fa-github fa-2x"></i></a>
    <a href="{{site.twitter}}" target="_blank" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="{{site.googleplus}}"  target="_blank"class="google"><i class="fa fa-google-plus-square fa-2x"></i></a>
    <a href="{{site.xing}}"  target="_blank"class="xing"><i class="fa fa-xing fa-2x"></i></a>
  </div>
</div>
