@import "tailwindcss";

* {
  font-family: "Comfortaa", sans-serif;
}

.page-width {
  width: 80rem; 
}

h1 {
  @apply font-bold;
  @apply text-4xl/10;
  @apply md:text-5xl/12;
  @apply: text-gray-800;
}

h2 {
  @apply font-bold;
  @apply text-3xl/8;
  @apply md:text-4xl/10;
  @apply: text-gray-800;
}

h4 {
  @apply font-bold;
  @apply text-xl/8;
  @apply md:text-2xl/8;
  @apply: text-gray-800;
}

p {
  @apply text-lg/7;
  @apply md:text-xl/8;
  @apply: text-gray-800;
}

blockquote {
  @apply text-lg/7;
  @apply md:text-xl/8;
}

a {
  @apply hover:underline;
}
