@import "tailwindcss";

@font-face {
  font-family: "Comfortaa";
  src: url("/assets/fonts/Comfortaa-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

* {
  font-family: "Comfortaa", sans-serif;
}

.page-width {
  width: 80rem;
}

h1 {
  @apply font-bold;
  @apply text-4xl/10;
  @apply md:text-5xl/12;
  @apply text-gray-800;
  @apply dark:text-gray-200;
}

h2 {
  @apply font-bold;
  @apply text-3xl/8;
  @apply md:text-4xl/10;
  @apply text-gray-800;
  @apply dark:text-gray-200;
}

h4 {
  @apply font-bold;
  @apply text-xl/8;
  @apply md:text-2xl/8;
  @apply text-gray-800;
  @apply dark:text-gray-200;
}

p {
  @apply text-lg/7;
  @apply md:text-xl/8;
  @apply text-gray-800;
  @apply dark:text-gray-200;
}

blockquote {
  @apply text-lg/7;
  @apply md:text-xl/8;
  @apply text-gray-800;
  @apply dark:text-gray-200;
}

a {
  @apply hover:underline;
  @apply text-gray-800;
  @apply dark:text-gray-200;
}

label {
  @apply text-gray-800;
  @apply dark:text-gray-200;
}

#impressum p {
  @apply text-base/7;
  @apply text-gray-800;
  @apply dark:text-gray-200;
}
